@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Inter', sans-serif !important;
  background-color: #0E1116 !important;
  color: white !important;
}

.row{
  height: 100vh;
}

h1{
  font-weight: 700 !important;
  font-size: 48px !important;
}

p{
  font-size: 18px;
}

.btn{
  background-color: #163725 !important;
  border-color: #163725 !important;
}

input{
  background-color: #272731 !important;
  border-color: #272731 !important;
  color: white !important;
}

input,
.btn-primary{
  padding: 8px 20px !important;
  font-weight: 400 !important;
}

.response{
  background-color: #272731 !important;
  border-radius: 0.375rem;
  min-height: 100px;
}